* {
  box-sizing: border-box;
}

html,
.body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  background-color: lightgray;
}

p {
  margin-block-start: 0;
  text-indent: 1rem;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  width: 40px;
  margin: 1.5rem 0 1rem 0;
}
